@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Topical Info Application: Leauge of Legends</h1>
    <div class="col-md-6">
        <h2>What Are champions?</h2>
        <p>
            Words Words Words Words Words Words Words Words Words Words Words Words
            Words Words Words Words Words Words Words Words Words Words Words Words
            Words Words Words Words Words Words Words Words Words Words Words Words
        </p>
    </div>
    <div class="col-md-6">
        <h2>Champion Stats</h2>
        <p>
            Words Words Words Words Words Words Words Words Words Words Words Words
            Words Words Words Words Words Words Words Words Words Words Words Words
            Words Words Words Words Words Words Words Words Words Words Words Words
            Words Words Words Words Words Words Words Words Words Words Words Words
        </p>    
        <button type="button" onclick="location.href='@Url.Action("Index","Champion")'" class="btn">Champion Stats List</button>
     </div>
</div>